.nav {
  margin: 0px;
  background-color: #ffA500;
  border-radius: 0px;

}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
h1 {
  display: inline-block;
}
ul {
display: inline-block;
  font-family: Helvetica;
  font-weight: bold;
  padding-left: 20px;

}
div {
  float: right;
}
li {
  list-style: none;
  color: #ffffff;
  font-size: 17px;
  float: left;
  padding: 0px;
}

